body {
    color: black;
    background: beige;
    font-size: 12pt;
}

h1 {
    text-align: center;
    margin-top: 0;
}

h3 {
    margin: 0px;
}

p {
    text-align: justify;
}

input {
    margin: 4px 2px;
}

input[type="text"],
input[type="number"] {
    width: 120px;
}

input.short {
    width: 40px;
}

input.long {
    width: 200px;
}

input[type="submit"] {
    background-color: aqua;
    border-radius: 3px;
    border-color: dodgerblue;
}

.navbar {
    height: 32px;
    background-color: maroon;
    color: aqua;
    font-size: 14pt;
    display: block;
    align-items: center;
    white-space: normal;
}

.logo {
    margin: 10px;
    font-weight: bold;
}

.navbutton {
    height: 27px;
    padding: 5px 10px 0;
    text-align: right;
    float: right;
    border: 1px solid firebrick;
    border-width: 0 1px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.main {
    display: flex;
}

.content {
    background: white;
    width: 800px;
    min-width: 800px;
    margin: 8px;
    padding: 10px;
    text-align: justify;
}

.pad {
    width: 100000px;
    min-width: 0px;
    margin: 8px;
}

.image-container {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 400px;
}

.moving-pizza {
    width: 400px;
    height: 200px;
    vertical-align: middle;
}

.pizza {
    margin-top: 60px;
}

.order-listing {
    width: 600px;
    min-width: 600px;
}

.current-order {
    width: 200px;
    min-width: 200px;
    background: white;
    padding: 4px;
    text-align: center;
}

textarea {
    resize: none;
    width: 100%;
    height: auto;
}

#current-order {
    border: none;
}

#order {
    border: black solid 1px;
    background: black;
}

th,
td {
    background: white;
    padding: 10px;
}

.formgroup {
    display: flex;
    border: 3px solid #000033;
    border-radius: 5px;
    padding: 4px;
}
.noflex {
    display: block;
}

.warning {
    background-color: #aa111133;
    border: 1px solid red;
    padding: 10px;
    border-radius: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}
