body {
    background-color: beige;
    color: black;
}

.navbar {
    height: 32px;
    background-color: maroon;
    color: aqua;
    font-size: 14pt;
    display: block;
    align-items: center;
    white-space: normal;
}

span {
    height: 27px;
    padding: 5px 10px 0;
    text-align: right;
    float: right;
    border: 1px solid firebrick;
    border-width: 0 1px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.main {
    display: flex;
}

.content {
    background-color: white;
    width: 70%;
    min-width: 500px;
    max-width: 1600px;
    margin: 8px;
    padding: 10px;
}

.ad {
    width: 300px;
    margin: 8px;
}

.warning {
    background-color: #aa111133;
    border: 1px solid red;
    padding: 10px;
    border-radius: 2;
}

h1 {
    text-align: center;
    margin-top: 0;
}

p {
    text-align: justify;
}

input {
    margin: 4px 2px;
}
